.tips{
    display: flex;
    justify-content: center;
    gap: .5%;
    color: gray;
    padding: .5%;
    font-size: 12px;
}

.link{
    color: rgb(77, 83, 232) !important;
}

.link:hover{
    cursor: pointer;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    margin: auto 2%;
    /*background-color: #cccccc;*/
}

.bottom{
    /*margin-top: 20px;*/
    position: sticky;
    bottom: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 1) 50%); */
    z-index: 10;
}


/* input ----------------------------------------------------------------------- */

/* App.css */
.textarea-container {
    position: relative;
    width: 100%;
}
  
.custom-textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 20px;
    resize: none; /* 禁用调整大小 */
    box-sizing: border-box;
    padding-right: 50px; /* 给右边的图标留出空间 */
    display: flex;

    flex-direction: column;
    justify-content: flex-end; /* 让内容靠底部对齐 */
    align-items: end;
    white-space: pre-wrap; /* 保证换行显示 */
    /* overflow-y: hidden; */
    margin-top: 20px;
}

.custom-textarea::-webkit-scrollbar {
    display: none; /* 隐藏 WebKit 浏览器中的滚动条 */
  }

.custom-textarea:focus{
    border-color: #007bff; /* 聚焦时的边框颜色 */
    outline: none; /* 移除默认的焦点轮廓 */
}

.icon-container {
    position: absolute;
    bottom: 5px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

/* 聚焦时改变边框颜色 */
.custom-textarea:focus {
    border-color: #007bff;
}

.input{
    display: flex;
    gap: 2%;
    align-items: end;
    
    margin: 0 3%;
}

.dividing{
    color: #FFFFFF69;
}



  /* input------------------------------------- */

.file-box{
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    /* gap: 5%; */
    margin: 1px 4%;
    padding: 10px;
    border-radius: 12px;
    align-items: center;
    align-content: center;
    z-index: 10;
    background-color: white;
    /* width: 100%; */
    /* overflow-x: scroll; */
}

.box-upload-file{
    display: flex;
    background-color: rgb(247, 247, 250);
    padding: 8px 10px;
    border-radius: 20px;
    position: relative; /* 使得子元素的绝对定位相对于父元素 */
    align-items: center;
    max-width: 200px;
    gap: 5px;
}

.box-upload-image{
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    gap: 2%;
    align-items: center;
}

.box-upload-image-img{
    height: 50px; 
    border-radius: 10px;
}

.box-upload-file-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 5px;
    color: black;
}

.icon-close-file {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .box-upload-file:hover .icon-close-file {
    opacity: 1; 
  }

  .box-upload-image:hover .icon-close-file {
    opacity: 1; 
  }

.content-item{
    display: flex;
    gap: 2%;
}

.content-right-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.content-content{
    padding: 15px;
    border-radius: 10px;
    max-width: 80%;

}

.box-content{
    margin: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 50px;
}

.user-avatar{
    position: relative;
    top: 5px;
}

.icon{
    width: 20px;
    height: 20px;
}

.icon:hover{
    cursor: pointer;
}

.icon-clear{
    position: relative;
    background-color: white;
    position: relative;
    border: #ccc solid 1px;
    border-radius: 50%;
    padding:8px;
    bottom: 3px;
}


.box-options{
    display: flex;
    gap: 10px;
    justify-content: center;
    word-break: break-all;
    /* margin-left: 4%; */
}

.option-item{
    border: #ccc solid 1px;
    padding: 1%;
    border-radius: 10px;
    
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.gap-5{
    gap: 20px;
}

.text-desc{
    color: #ccc;
    font-size: 12px;
}

.stop{
    display: flex;
    justify-content: center;
}


.question{
    display: flex;
    gap: 2%;
    width: 100%;
}

p{
   
}

.markdown-external-container{
    letter-spacing: 2px;
    line-height: 24px;
    word-wrap: break-word;
}

.markdown-external-container p{
    margin: 4px !important;
}

.markdown-external-container img{
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.bubble-answer{
    color: black;
    background-color: white;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1),*/
    /*0 0 5px rgba(0, 0, 0, 0.1);*/
}

.bubble-question{
    color: white;
    background-color: #2D65F7;
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.1),*/
    /*0 0 1px rgba(0, 0, 0, 0.1);*/
}

.bubble-answer,
.bubble-answer{
    /*border: 1px solid rgba(220,220,220,.3);*/
}

.file-name{
    /* font-size: 1px; */
}

.loading_more{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}